<div class="container">
    <h1 style="text-align: center; margin: 8px auto;">Thông tin cá nhân</h1>
    <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <p class="input id">ID: {{this.form.controls['idUser'].value}}</p>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Họ tên</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="form.controls['name'].invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Ngày sinh</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birth">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.controls['birth'].invalid">{{getBirthErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Số điện thoại</mat-label>
            <input matInput type="tel" formControlName="phone">
            <mat-error *ngIf="form.controls['phone'].invalid">{{getPhoneErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="form.controls['email'].invalid">{{getMailErrorMessage()}}</mat-error>
        </mat-form-field>
        <div class="flex">
            <span class="spacer"></span>
            <button mat-raised-button color="primary" class="btn" type="submit">Cập nhật</button>
        </div>
    </form>
    <mat-divider></mat-divider>
    <h1 style="margin: 8px 20px">Thay đổi mật khẩu</h1>
    <form [formGroup]="passwordChangeForm">
        <mat-form-field appearance="outline" class="input">
            <mat-label>Mật khẩu hiện tại</mat-label>
            <input matInput formControlName="currentPassword">
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Mật khẩu mới</mat-label>
            <input matInput formControlName="newPassword">
            <mat-error *ngIf="passwordChangeForm.controls['newPassword'].invalid">{{getNewPasswordMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Nhập lại mật khẩu mới</mat-label>
            <input matInput formControlName="renewPassword">
        </mat-form-field>
        <div class="flex">
            <span class="spacer"></span>
            <button mat-raised-button color="primary" class="btn" type="submit">Cập nhật</button>
        </div>
    </form>
</div>