.container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/image/wallpaper.jpg);
    background-size: cover ;
}

.title{
    font-size: 50px;
}