.container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/image/wallpaper.jpg);
    background-size: cover ;
}

.logo{
    margin: auto 40px;
    margin-top: 30px;
    text-align: center;
}

.form{
    width: 400px;
    height: 400px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: white;
}

.input{
    width: calc(100% - 80px);
    margin: auto 40px;
}

.btn{
    width: calc(50% - 80px);
    margin: auto 40px;
}