<div class="container">
    <div class="form">
        <div class="logo">
            <h1>Welcome to <b>NgStore</b></h1>
        </div>
        <br>
        <br>
        <form [formGroup]="form">
            <mat-form-field class="input">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <br>
            <br>
            <button class="btn" mat-raised-button color="primary" (click)="login()">Login</button>
            <a class="btn" color="primary" href="">Forgot password</a>
        </form>
    </div>
</div>