<mat-toolbar color="">
    <span> Quản lý User</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" routerLink="./create">Thêm mới</button>
</mat-toolbar>
<div class="full-wh" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading" ></mat-spinner>
</div>

<div class="table mt-2" *ngIf="!isLoading">
    <table  mat-table [dataSource]="dataTable" class="mat-elevation-z8 full-width">

        <ng-container matColumnDef="idUser">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
        </ng-container>
      
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Giới tính </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Họ tên </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="birth">
          <th mat-header-cell *matHeaderCellDef> Ngày sinh </th>
          <td mat-cell *matCellDef="let element"> {{formatDatetime(element.birth)}} </td>
        </ng-container>
      
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Hành động </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button style="margin-right: 10px" [routerLink]="['./edit',element.id]" [state]="element">
              <mat-icon>edit</mat-icon>
            </button>  
            <button mat-raised-button color="accent" (click)="onDelete(element.idUser)">
              <mat-icon>delete</mat-icon>
            </button>  
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator> -->
</div>

