.full-width{
    width: 100%;
}

.mt-2{
    margin-top: 16px;
}

.spacer{
    flex: 1 1 auto;
}

.table{
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.full-wh{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    height: calc(100% - 154px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-column-idUser{
    width: 5%;
}
.mat-column-name{
    width: 10%;
}
.mat-column-gender{
    width: 5%;
}
.mat-column-birth{
    width: 10%;
}
.mat-column-phone{
    width: 10%;
}
.mat-column-email{
    width: 10%;
}
.mat-column-action{
    width: 15%;
}