<div class="container">
    <h1 style="text-align: center; margin: 8px auto;">Form tạo mới user</h1>
    <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="input">
            <mat-label>Họ tên</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="form.controls['name'].invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Giới tính</mat-label>
            <mat-select formControlName="gender">
                <mat-option value="Nam">Nam</mat-option>
                <mat-option value="Nữ">Nữ</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['gender'].invalid">{{getGenderErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Ngày sinh</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birth">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.controls['birth'].invalid">{{getBirthErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Số điện thoại</mat-label>
            <input matInput type="tel" formControlName="phone">
            <mat-error *ngIf="form.controls['phone'].invalid">{{getPhoneErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="form.controls['email'].invalid">{{getMailErrorMessage()}}</mat-error>
        </mat-form-field>
        <div class="flex">
            <span class="spacer"></span>
            <button mat-raised-button class="btn" routerLink="../">Hủy</button>
            <button mat-raised-button color="primary" class="btn" *ngIf="isBtnPending" disabled>
                <mat-spinner color="primary" [diameter]="30"></mat-spinner>
            </button>
            <button mat-raised-button color="primary" class="btn" *ngIf="!isBtnPending">
                Hoàn tất
            </button>
        </div>
    </form>
</div>