.container{
    min-width: 200px;
    max-width: 600px;
    margin: auto;
    margin-top: 16px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input{
    width: calc(100% - 24px);
    margin: 0px 12px;
}
.flex{
    display: flex;
}
.spacer{
    flex: 1 1 auto;
}

.btn{
    margin: 0px 12px;
    margin-bottom: 12px;
}