<mat-sidenav-container class="container-full">
    <mat-sidenav #sideNav mode="side">
        <div class="logo">
        </div>
        <mat-nav-list class="menu">
            <a class="menu-item" mat-list-item *ngFor="let menuItem of menu" routerLink="{{menuItem.path}}">
                <mat-icon class="menu-item-icon">{{menuItem.iconName}}</mat-icon>
                <span class="menu-item-title">
                    {{menuItem.title}}
                </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <!-- Header -->
        <mat-toolbar color="primary">
            <mat-icon (click)="sideNav.toggle()" style="cursor: pointer;">menu</mat-icon>
            <span class="spacer"></span>
            <app-profile-component></app-profile-component>
        </mat-toolbar>

        <!-- Content-->
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>