.container-full{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-sidenav{
    width: 200px;
}

.spacer{
    flex: 1 1 auto;
}

.container{
    max-width: 1200px;
    margin: auto;
    margin-top: 12px;
    height: 100%;
}

.logo{
    height: 64px;
}

.menu {

}
.menu-item {
}
.menu-item-icon {

}
.menu-item-title {

}