<button mat-button [matMenuTriggerFor]="menu" >
    <img class="user-icon" src="../../../assets/image/icon-user.jpg" alt="icon-user" />
    <span class="user-name">{{name}}</span>
</button>
<mat-menu #menu xPosition ="after">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <hr>
    <button mat-menu-item (click)="logout()">Log out</button>
</mat-menu>
